@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.links li {
  cursor: pointer;
}
#homepro h3.w3l_header, #homepro span {
  color: #262c38;
}
#homepro .wthree_head_section {
  padding-bottom: 50px
}
#homepro .agileits_banner_bottom_left .agileinfo_banner_bottom_pos
 .w3_agileits_banner_bottom_pos_grid .wthree_banner_bottom_grid_left .agile_banner_bottom_grid_left_grid 
 span img {
  width: 30px
 }
.aboutfocusinside {
   padding-top: 10vh
}
.aboutfocusinside  div h3 {
  padding-top: 5vh;
  padding-bottom: 2vh
}
#privacy + .container {
  padding-top: 10vh
}
#horizontalTab .resp-tabs-list li p img {
  margin-bottom: 15px
}
.leftmenu .second .panel-default > .panel-heading {
  background: transparent;
}
.leftmenu .second .panel-group .panel {
  background: rgba(200,200,200,.3);
  text-align: left;
}
.leftmenu .second .panel-default {
  border: 0px;
}
.leftmenu .second .panel-heading:hover {
  background: rgba(200,200,200,.9);
 }
 #documents .leftmenu .second .panel-heading *:hover {
  color: #337ab7;
 }
 .leftmenu .second .panel-heading a {
  background: transparent;
  color: #fff;
 }
.leftmenu .second .panel-body li a {
  background: transparent;
}
span.pr {
  display: inline-block;
  float: right;
  top: 0
}

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
  margin-top: 80px
}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: .4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
.timeline-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;  
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-family: "Pathway Gothic One", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);

}
.timeline-item--active:before {
  top: 50%;
  transition: .3s all .2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}






@media only screen and (max-width: 767px) {

.timeline:before {
    left: 40px;
}
    .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
    }
    .timeline-item:last-child {
    padding-bottom: 40px;
    }
.mid-one {
    background: url(../images/b_left.jpg)no-repeat 0px 0px;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-attachment: initial;
}

.mid-one{
   background-image: url(../images/b_left.jpg);
   position: fixed;
   background-size: cover;
   width: 100%;
  height: 100%;
  z-index: -1;
}

.mid-one,
.mid-two {
  background-size: cover;
    background-attachment: initial;
}
#welcome .about_agileinfo_grid_imgs img {
  width: 100%
}


}




@media only screen and (min-width: 768px)  and (max-width: 900px) {
#home .navbar-brand span {
  font-size: 14px
}
.navbar-default .navbar-nav>li>a {
  font-size: 10px
}
.navbar-header.navbar-left {
  margin-top: 0px
}
.navbar-brand > img {
  width: 70%;
  padding-top: 10px
}
.agileits_w3layouts_banner_nav.shrink .navbar-default .navbar-nav>li>a {
    
    font-size: 10px
}
.agileits_w3layouts_banner_nav.shrink .navbar-default .navbar-nav>li.language>a {
     font-size: 10px;
     margin-top: 15px;
}



}




@media only screen and (min-width: 901px)  and (max-width: 1150px) {
#home .navbar-brand span {
  font-size: 18px
}
.navbar-default .navbar-nav>li>a {
  font-size: 12px
}
.navbar-header.navbar-left {
  margin-top: 3px
}
.navbar-brand > img {
  width: 80%;
  padding-top: 10px
}





}







@media only screen and (min-width: 1151px)  and (max-width: 1650px) {
 .agile_banner_text_info h3 {
  font-size: 4em
 }


}






 


