body, html, #home {
  padding: 0;
  margin: 0;
  top: 0
}
.tab-content img {
  width: 25em;
  margin: 1em
}

.tab-content .modal-body {
  padding: 0px;
}
.tab-content .modal-body .dataTables_wrapper {
  padding : 2em 2.5em;
}
.bold {
  font-weight: 900
}
.btm {
  clear: both;
  position: absolute;
  bottom: 2vh;
  padding: 2em;
  margin-left: -15px;
  border-top: 0.5px solid #07a3ed
}
#sheet .righttext,
#steel .righttext {
  padding-left: 5em;
  padding-right: 5em
}
#std .flex {
  display: flex;
  min-height: 83.2vh;
  height: auto
}
#sheet .flex,
#steel .flex {
  display: flex;
  height: 80vh
}
#steel .flex {
  display: flex;
  height: 80vh
}
#std .flex .leftimg {
  background: #f7f7f7  ;
  padding-top: 10em;
  text-align: center;
}
#sheet .flex .leftimg {
  background: #f7f7f7  ;
  padding-top: 5em;
  text-align: center;
}
#steel .flex .leftimg {
  background: #f7f7f7  ;
  padding-top: 5em;
  text-align: center;
}
.tab_container .tab-content .flex .righttext > h4{
  padding : 3em 0 2em 0
}
#std .flex p {
  font-size: 0.9em
}
#sheet .flex p,
#sheet .flex li {
  font-size: 0.8em
}
.ajaxcontent > div > p, .ajaxcontent  {
  text-align: center;
}
.tab_container .tab-content .supply {
  margin-top: 2em
}
.tab_container .tab-content .sharp {
  padding-bottom: 0px;
  margin-bottom: 0px
}
/*Fun begins*/
#std .tab_container,
#sheet .tab_container,
#steel .tab_container {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}
#std input, #std section,
#sheet input, #sheet section,
#steel input, #steel section {
  clear: both;
  padding-top: 10px;
  display: none;
}
#std label,
#sheet label,
#steel label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  float: left;
  width: 16.666666666666%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #E8E9EB;
  margin-bottom: 0px;
}
#sheet label {
  width: 25%
}
#steel label {
  width: 33.33333333%
}
#std .dataTables_length label,
#std .dataTables_filter label,
#sheet .dataTables_length label,
#sheet .dataTables_filter label,
#steel .dataTables_length label,
#steel .dataTables_filter label {
  font-weight: lighter;
  font-size: 12px;
  display: block;
  float: left;
  width: auto;
  padding: 0;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: transparent;
  margin-bottom: 0px;
}
.dataTables_wrapper .dataTables_paginate .fg-button.ui-state-disabled {
  border: 1px solid #337ab7;
  opacity: 0.9
}
#std .dataTables_filter input,
#sheet .dataTables_filter input,
#steel .dataTables_filter input {
  display: inline-block;
  border-width: 0.5px;
    border-style: none;
    padding-top: 0px;
    border: 0.5px solid #333
}
.modal-header .close {
  color: #fff;
  opacity: 1;
  font-size: 2em
}
#std .modal-header,
#sheet .modal-header,
#steel .modal-header,
#portfolio .modal-header {
    min-height: 10px;
    padding-right: 2em;
    border-bottom: 0px solid #e5e5e5;
    background: #07a3ed
}
#portfolio .modal-header h4 {
  font-size: 1em
}
#portfolio .modal-content .dataTables_filter label, 
#portfolio .modal-content .dataTables_length label,
#portfolio .modal-content .dataTables_info {
  font-size: 12px;
  font-weight: lighter;
 }
.modal-content .dataTables_wrapper .dataTables_paginate .fg-button.ui-state-disabled {
  background: #07a3ed;
  color: #fff;
  opacity: 0.75;
}
.tab_container .thum img {
  width: 20%
}
#tab1:checked ~ #Angle,
#tab2:checked ~ #Bar,
#tab3:checked ~ #Beam,
#tab4:checked ~ #Channel,
#tab5:checked ~ #Pipe,
#tab6:checked ~ #Tube,
#tab7:checked ~ #Embossed,
#tab8:checked ~ #Plate,
#tab9:checked ~ #Coil,
#tab10:checked ~ #pCoil,
#tab11:checked ~ #stsheet,
#tab12:checked ~ #stcoil,
#tab13:checked ~ #stfoil {
  display: block;
  padding: 0;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
  min-height: 80vh;
  height: auto;
}
#tab7:checked ~ #Embossed,
#tab8:checked ~ #Plate,
#tab9:checked ~ #Coil {
  min-height: 75vh;
  height: auto;
}
.tab_container .tab-content p,
.tab_container .tab-content h4,
.tab_container .tab-content div {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content p {
  margin: 1em 0;
}
.tab_container .tab-content .modal-header h4, #portfolio .modal-header h4  {
  color: #fff
}
.tab_container .tab-content h4  {
  text-align: center;
  padding: 0;
  color: #07a3ed;
  font-size: 1em;
}

.tab_container [id^="tab"]:checked + label {
  background: #f7f7f7 ! important;
  box-shadow: inset 0 3px #0CE;
  
}

.tab_container [id^="tab"]:checked + label span {
  color: #07a3ed
}

div.modal-dialog {
  width: 50vw
}
.modal table.table {
  width: 90% ! important
}
.modal .table>thead>tr>th, 
.modal .table>tbody>tr>th, 
.modal .table>tfoot>tr>th, 
.modal .table>thead>tr>td, 
.modal .table>tbody>tr>td, 
.modal .table>tfoot>tr>td {
  font-size: 0.8em
}
label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}
  #home a.effect-3 {
    font-size: 10px
  }

/*Media query*/
@media only screen  and (min-width: 1367px)  and (max-width: 1920px) {
  .tab-content img {
    width: 20em
  }
  #home .yamm-content .caption h4 {
    font-size: 0.8em
  }
  #home .yamm-content .w3l-button,#home .yamm-content .w3l-button a {
    font-size: 0.75em
  }
  #home a.effect-3 {
    font-size: 12px
  }
}


@media only screen  and (min-width: 1081px)  and (max-width: 1366px)  {
  div.f-bg-w3l {
    padding: 1em 0;
    font-size: 12px
  }
  #std .tab_container, #sheet .tab_container {
    padding-top: 0px
  }
  .tab-content img {
    width: 18em
  }
   #home .yamm-content .caption h4 {
    font-size: 0.8em
  }
  #home .yamm-content .w3l-button,#home .yamm-content .w3l-button a {
    font-size: 0.8em
  }
  #home a.effect-3 {
    font-size: 12px
  }
   .tab_container .tab-content .flex div.righttext > h4 {
    padding: 1.5em 0 1em 0
  }
}


@media only screen and (min-width : 768px) and (max-width : 1080px) {
  div.f-bg-w3l {
    padding: 1em 0;
    font-size: 10px
  }
  div.f-bg-w3l p {
    font-size: 10px
  }
  #std .tab_container, #sheet .tab_container {
    padding-top: 0px
  }
  #std .tab-content img {
    width: 12em;
    margin-bottom: 3em
  }
  #sheet, #steel {
    padding-left: 0px;
    padding-right: 0px;
  }
  #sheet .tab-content img,
  #steel .tab-content img {
    width: 10em;
   }
   #home .yamm-content .caption h4 {
    font-size: 0.8em
  }
  #home .yamm-content .w3l-button a {
    font-size: 0.6em
  }
  #home a.effect-3 {
    font-size: 12px
  }
  .btm {
    clear: both;
    position: relative;
    bottom: 2vh;
    padding: 2em;
    margin-left: -15px;
    border-top: 0.5px solid #07a3ed
  }
  div.modal-dialog {
    width: 70%
  }
  #sheet .tab_container label span,
  #steel .tab_container label span {
    font-size: 12px
  }
} 


@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}



@media only screen and (min-width: 481px) and (max-width: 768px) {
  #sheet .tab-content img,
  #steel .tab-content img {
    padding: 0em
  }
}



@media only screen and (min-width: 481px) and (max-width: 768px) {
  .btm {
    clear: both;
    position: relative;
    bottom: 2vh;
    padding: 2em;
    margin-left: -15px;
    border-top: 0.5px solid #07a3ed
  }
  #std .tab_container, #sheet .tab_container, #steel .tab_container {
    padding-top: 0px
  }
  label span {
    display: none;
  }
  label .fa {
    font-size: 16px;
  }
  .tab_container .thum img {
    width: 60%
  }
  .tab_container {
    width: 98%;
  }
  #sheet .flex,
  #std .flex,
  #steel .flex {
    display: block
  }
/*  #sheet .flex > div,
  #std .flex > div {
    clear: both
  }*/
  #std .tab-content img  {
    width: 12em;
    padding: 0em
  }
  .righttext   {
    padding: 2em;
  }
  #std .flex .leftimg, #sheet .flex .leftimg, #steel .flex .leftimg {
    padding-top: 0;
  }
  div.modal-dialog {
    width: 80vw;
  }
  .modal table.table {
    width: 100% ! important
  }
  .tab-content img {
    width: 12em;
    margin-bottom: 3em
  }
  #link-effect-2 ul.nav-mega.navbar-nav>li>a {
    padding: 5px 0
   }
   #link-effect-2 ul.nav-mega.navbar-nav>li.language>a {
    padding: 0px
   }
   #link-effect-2 ul.nav-mega.navbar-nav>li {
      line-height: 1.2
    }
}



@media only screen and (max-width: 480px) {
  .btm {
    clear: both;
    position: relative;
    bottom: 2vh;
    padding: 2em;
    margin-left: -15px;
    border-top: 0.5px solid #07a3ed
  }
  .tab-content img {
    width: 12em;
  /*  margin-bottom: 3em*/
  }
  #std label, #sheet label, #steel label {
    padding: 1em 0.5em
  }
  #std .tab_container .thum img {
    width: 100%
  }
  #sheet .tab_container .thum img,
  #steel .tab_container .thum img {
    width: 100%
  }
  .tab-content img {
    width: 12em;
  }
  #sheet .flex, #steel .flex,
  #std .flex {
    display: block;
    height: auto;
  }
   #std .flex .leftimg {
    padding-top: 0;
  }
  #sheet .flex .leftimg, #steel .flex .leftimg {
    padding-top: 1.5em
  }
  #sheet .righttext, #steel .righttext {
    padding: 2em;
  }
  .tab_container label span {
    display: none;
  }
  #std .tab_container, #sheet .tab_container, #steel .tab_container {
    padding-top: 0px
  }
  div.modal-dialog {
    width: 90vw;
  }
  .modal-header {
    padding: 5px 0
  }
  .modal table.table {
    width: 100% ! important;
  }
  table.dataTable tr td {
  padding: 10px 12px ! important;
  }
  .tab-content .modal-body .dataTables_wrapper {
    padding: 1.5em 1em;
  }
   #sheet, #steel {
    padding: 0
   }
   #sheet .tab_container .tab-content .flex .righttext > h4,
   #steel .tab_container .tab-content .flex .righttext > h4 {
      padding: 1em 0;
   }
   .f-bg-w3l {
    padding: 1em 2em;
   }
   p.copyright {
    font-size: 8px
   }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0px;
   }
   #std .dataTables_wrapper .dataTables_filter label {
    float: right;
   }
}


@media only screen and (max-width: 320px) {
  #std label {
    padding: 0.7em 0.5em 1em 0.5em
  }
  #std .tab_container .thum img {
    width: 100%
  }
 
  #sheet .tab_container .thum img,
  #steel .tab_container .thum img {
    width: 80%
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}